.span-c {
  color: red;
}

.span-c2 {
  color: #62d362;
}

.col-c {
  text-align: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.02);
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  padding: 0;
}

.col-c:hover {
  background-color: #f9f9f9;
  border-color: #f0f0f0;
}

.hide_code_template {
  display: none;
}

.hide {
  display: none;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

#overlay_main_container {
  background-color: #ebebeb;
  margin-top: 7em;
  height: 35em;
  border-radius: 5px;
}

#overlay_code_container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
  height: 23em;
  width: 95%;
  margin-left: 2.5%;
  overflow-y: scroll;
}

#overlay_close_button {
  position: absolute;
  color: gray;
  font-size: 1.8em;
  font-weight: lighter;
  cursor: pointer;
}

#overlay_header {
  font-weight: lighter;
  font-size: 1.9em;
  margin: 0;
  color: rgba(0, 0, 0, 0.4);
}

#overlay_subheader {
  font-weight: lighter;
  font-size: 1.1em;
  margin-bottom: 0.4em;
  color: rgba(0, 0, 0, 0.4);
}

#overlay_button_container {
  margin-top: 1em;
  height: 4em;
}

.overlay_buttons {
  width: 100%;
  height: 4em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.4);
  font-weight: lighter;
  font-size: 1.1em;
  border-radius: 3px;
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
}

nav {
  height: 8vh;
  background-color: #212529;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1em;
  font-weight: lighter;
}

a:hover {
  color: gainsboro;
}

#main_container {
  margin-top: 4em;
  height: 35em;
  padding-right: 1.8%;
}

body {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(white), to(rgba(132, 197, 243, 0.8)));
  background-image: linear-gradient(to bottom right, white, rgba(132, 197, 243, 0.8));
}

#form_container,
#bar_chart,
#line_chart,
#pie_chart {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #f7f7f7;
  -webkit-box-shadow: 18px 5px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 18px 5px 50px rgba(0, 0, 0, 0.1);
  height: 33em;
  padding: 0;
}

form {
  height: 90%;
  overflow-x: hidden;
}

form .row {
  margin: 0 5px 0 0;
  width: 100%;
  padding: 0 5px 0 5px;
}

#form_submit_button {
  height: 2.1em;
  font-size: 1em;
  font-weight: lighter;
  position: relative;
  width: 90%;
  left: 5%;
  border-radius: 2px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.07);
  color: #919191;
}

#form_submit_button:hover {
  background-color: #fafafa;
  color: #a5a5a5;
}

h6 {
  font-size: 1em;
  font-weight: lighter;
  position: relative;
  top: 6px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0 10px 0;
}

label {
  font-size: 0.9em;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.5);
}

input {
  border: 1px solid rgba(150, 150, 150, 0.3);
  border-radius: 0px;
  width: 90%;
  font-size: 0.8em;
  color: #323232;
}

.text_inputs {
  height: 2em;
  border-radius: 2px;
  margin-bottom: 5px;
}

.hovered:hover {
  opacity: 0.7;
}

.sp-replacer {
  padding: 0;
}

.grid {
  color: #d6d6d6;
}

.bar_tooltip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll;
  border: 1px solid #6f257f;
  padding: 14px;
  text-align: center;
  background-color: white;
  z-index: 1;
}

#x_axis .tick line,
#y_axis .tick line {
  stroke: none;
}

#x_grid path,
#y_grid path {
  stroke: none;
}

::-webkit-scrollbar {
  width: 2.5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.015);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.15);
}

pre {
  padding-left: 20%;
  font-size: 0.8em;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  /* Full-width */
  height: 9px;
  /* Specified height */
  background: whitesmoke;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border-radius: 10px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 15px;
  /* Set a specific slider handle width */
  height: 15px;
  /* Slider handle height */
  background: #767676;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 10px;
  border: 1px solid rgba(220, 220, 220, 0.5);
}

.slider::-moz-range-thumb {
  width: 15px;
  /* Set a specific slider handle width */
  height: 15px;
  /* Slider handle height */
  background: #4caf50;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 10px;
  border: 1px solid rgba(220, 220, 220, 0.5);
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  /* Firefox */
}
/*# sourceMappingURL=main.css.map */