$nav: rgba(0, 0, 0, 0.75);
$nav_titles: rgb(200, 200, 200);
$nav_titles_hovered: rgb(255, 255, 255);

$main_background: rgba(0, 0, 0, 0.1);
$main_color: rgb(236, 236, 236);
$sec_color: rgb(255, 255, 255);

$section_label: rgba(0, 0, 0, 0.4);
$section_label_font_size: 0.9em;
$input_labels: rgba(0, 0, 0, 0.5);
$input_labels_font_size: 0.75em;

@import "partials/containers", "partials/graph", "partials/sliders",
  "partials/nav", "partials/overlay", "partials/scroller", "partials/checkboxes",
  "partials/colors", "partials/form", "partials/icons", "partials/titles";

@import "../node_modules/pretty-checkbox/src/pretty-checkbox.scss";

body {
  height: 100vh;
  background-color: $main_background;
}

h6 {
  font-size: $section_label_font_size;
  font-weight: normal;
  position: relative;
  top: 6px;
  left: 1em;
  color: $input_labels;
  margin: 0 0 0.9em 0;
  text-align: start;
}

label {
  font-size: $input_labels_font_size;
  font-weight: normal;
  color: $section_label;
  width: 100%;
}

label::after,
label::before {
  top: 0px !important;
}

#phone_warning {
  background-color: white;
  border: 3px solid red;
  color: red;
  font-weight: 600;
  width: 90%;
  display: none;
}

#mwv5_span {
  font-size: 1.7em;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 992px) {
  #phone_warning {
    display: block !important;
  }
  #main_container {
    margin-top: 1em;
  }
  #bottom-button-row {
    height: 2em !important;
  }
}

.checkbox_row_wrap {
  height: 100%;
}

.checkbox-labels {
  position: relative;
  top: 0.7em;
  left: 0.5em;
  text-align: initial;
}

.bottom-buttons {
  width: 1.5em;
  padding: 3px;
  position: relative;
  bottom: 0.5em;
  left: 2px;
  margin-bottom: 1em;
  color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: ease 0.5s;
}
.bottom-buttons:hover {
  color: rgba(0, 0, 0, 0.8);
}
#bottom-button-row {
  height: 1em;
}
