.col-4 {
  text-align: center;
}

#main_container {
  margin-top: 4em;
  height: 35em;
}

body {
  height: 88vh;
  background-color: #84bbf3;
}

form {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 18px 5px 20px rgba(0, 0, 0, 0.2);
  height: 100%;
}

#form_submit_button {
  height: 2.1em;
  position: relative;
  top: 1.2em;
  width: 90%;
  left: 5%;
  border-radius: 5px;
}

h6 {
  font-size: 0.9em;
  margin: 5px;
  font-weight: normal;
  position: relative;
  top: 6px;
}

label {
  font-size: 0.9em;
  font-weight: lighter;
}

input {
  border: 1px solid rgb(150, 150, 150);
  border-radius: 0px;
  height: 1.4em;
  width: 90%;
}

.grid {
  color: rgb(214, 214, 214);
}

nav {
  height: 11vh;
  background-color: #212529;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.1em;
  font-weight: lighter;
}

a:hover {
  color: white;
}

rect:hover {
  opacity: 0.7;
}

.sp-replacer {
  padding: 0;
}

#bar_chart,
#line_chart,
#pie_chart {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 18px 5px 20px rgba(0, 0, 0, 0.2);
}

.bar_tooltip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll;
  border: 1px solid #6f257f;
  padding: 14px;
  text-align: center;
  background-color: white;
  z-index: 1;
}

#x_axis,
#y_axis {
  .tick {
    line {
      stroke: none;
    }
  }
}

#x_grid,
#y_grid {
  g:nth-child(1) {
    line {
      stroke: none;
    }
  }
  path {
    stroke: none;
  }
}
