<div class="row bar_title_col_row">
  <div class="col-4 col-c">
    <label for="bar_title_input">
      Title
      <input
        type="text"
        name="bar_title_input"
        id="bar_title_input"
        class="text_inputs"
        value="Weather"
        placeholder="Enter text..."
      />
    </label>
  </div>
  <div class="col-4 col-c">
    <label for="bar_xaxis_title_input">
      x-Axis
      <input
        type="text"
        name="bar_xaxis_title_input"
        id="bar_xaxis_title_input"
        class="text_inputs"
        value="Weeks"
        placeholder="Enter text..."
      />
    </label>
  </div>
  <div class="col-4 col-c">
    <label for="bar_yaxis_title_input">
      y-Axis
      <input
        type="text"
        name="bar_yaxis_title_input"
        id="bar_yaxis_title_input"
        class="text_inputs"
        value="Temperature"
        placeholder="Enter text..."
      />
    </label>
  </div>
</div>
