<div class="row bar_slider_col_row">
  <div class="col-xl-4 col-lg-4 col-md-12 col-c">
    <label for="bar_title_slider">Title </label>
    <input
      type="range"
      min="0"
      max="26"
      value="13"
      name="bar_title_slider"
      id="bar_title_slider"
      class="slider"
    />
  </div>
  <div class="col-xl-4 col-lg-4 col-md-12 col-c">
    <label for="bar_xaxis_title_slider">x-Axis </label>
    <input
      type="range"
      min="0"
      max="26"
      value="13"
      name="bar_xaxis_title_slider"
      id="bar_xaxis_title_slider"
      class="slider"
    />
  </div>
  <div class="col-xl-4 col-lg-4 col-md-12 col-c">
    <label for="bar_yaxis_title_slider">y-Axis </label>
    <input
      type="range"
      min="-17"
      max="-1"
      value="-9"
      name="bar_yaxis_title_slider"
      id="bar_yaxis_title_slider"
      class="slider"
    />
  </div>
</div>
