<div class="row bar_color_col_row">
  <div class="col-4 col-c color-c">
    <div class="row">
      <label class="color_labels" for="bar_background_cp">Background</label>
    </div>
    <input
      name="bar_background_cp"
      id="bar_background_cp"
      value="rgba(245,245,245,1)"
    />
  </div>
  <div class="col-4 col-c color-c">
    <div class="row">
      <label class="color_labels" for="bars_cp">Bars</label>
    </div>
    <input name="bars_cp" id="bars_cp" value="rgba(41, 112, 204, 0.3)" />
  </div>
  <div class="col-4 col-c color-c">
    <div class="row">
      <label class="color_labels" for="bar_border_cp">Bar Border</label>
    </div>
    <input name="bar_border_cp" id="bar_border_cp" value="rgba(0, 0, 0, 0.1)" />
  </div>
</div>
<div class="row bar_color_col_row">
  <div class="col-4 col-c color-c">
    <div class="row">
      <label class="color_labels" for="bar_title_cp">Title</label>
    </div>
    <input name="bar_title_cp" id="bar_title_cp" value="rgb(103, 103, 103)" />
  </div>

  <div class="col-4 col-c color-c">
    <div class="row">
      <label class="color_labels" for="bar_xaxis_title_cp">x-Axis Title</label>
    </div>
    <input
      name="bar_xaxis_title_cp"
      id="bar_xaxis_title_cp"
      value="rgb(103, 103, 103)"
    />
  </div>
  <div class="col-4 col-c color-c">
    <div class="row">
      <label class="color_labels" for="bar_yaxis_title_cp">y-Axis Title</label>
    </div>
    <input
      name="bar_yaxis_title_cp"
      id="bar_yaxis_title_cp"
      value="rgb(103, 103, 103)"
    />
  </div>
</div>
<div class="row bar_color_col_row">
  <div class="col-4 col-c color-c">
    <div class="row">
      <label class="color_labels" for="bar_grid_cp">Grid</label>
    </div>
    <input name="bar_grid_cp" id="bar_grid_cp" value="rgba(0, 0, 0, 0.06)" />
  </div>

  <div class="col-4 col-c color-c">
    <div class="row">
      <label class="color_labels" for="bar_xaxis_line_cp">x-Axis Line</label>
    </div>
    <input
      name="bar_xaxis_line_cp"
      id="bar_xaxis_line_cp"
      value="rgb(153, 153, 153)"
    />
  </div>
  <div class="col-4 col-c color-c">
    <div class="row">
      <label class="color_labels" for="bar_yaxis_line_cp">y-Axis Line</label>
    </div>
    <input
      name="bar_yaxis_line_cp"
      id="bar_yaxis_line_cp"
      value="rgb(211, 211, 211)"
    />
  </div>
</div>
<div class="row bar_color_col_row">
  <div class="col-4 col-c color-c">
    <div class="row">
      <label class="color_labels" for="bar_tick_cp">Ticks</label>
    </div>
    <input name="bar_tick_cp" id="bar_tick_cp" value="rgb(153, 153, 153)" />
  </div>
</div>
