#main_container {
  margin-top: 4em;
  height: 35em;
}

.col-c {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.015);
  transition: background-color 0.25s ease-in-out;
  padding: 0;
  height: 3.25em;
}

.col-c:hover {
  background-color: rgba(252, 252, 252, 1);
  border-color: rgb(240, 240, 240);
}

#form_container {
  background-color: $main_color;
  box-shadow: 18px 5px 50px rgba(0, 0, 0, 0.3);
  height: 33em;
}

#graph_container {
  background-color: $main_color;
  box-shadow: 18px 5px 50px rgba(0, 0, 0, 0.3);
  height: 33em;
}

#graph_dimension_div {
  width: 100%;
  padding-top: 0.5em;
  padding-left: 1em;
  margin: 0;
}

#title_row_group,
#slider_row_group,
#checkbox_row_group,
#color_row_group {
  border: 1px solid rgba(0, 0, 0, 0.03);
  margin: 0 8px 0 8px;
  background-color: white;
}
