#line_div,
#bar_div,
#pie_div {
  height: 30em;
}

#pie_div {
  background-color: white;
  width: 96%;
  margin-left: 2%;
  display: flex;
  justify-content: flex-start;
}

#pie_chart {
  margin-left: 2%;
  margin-top: 3%;
}

.legend-colors {
  width: 20px;
  height: 20px;
  margin-right: 0.9em;
  margin-top: 0.1em;
  //background-color: red;
}

// .arc:hover {
//   opacity: 0.6;
// }

.hovered:hover {
  opacity: 0.7;
}

.circle_hovered:hover {
  opacity: 0.4;
  fill: black;
}

.line_grid {
  color: rgb(214, 214, 214);
}

.bar_grid {
  color: rgb(214, 214, 214);
}

.bar_tooltip,
.line_tooltip,
.pie_tooltip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll;
  border: 1px solid #000000;
  padding: 14px;
  text-align: center;
  background-color: white;
  z-index: 1;
}

#line_x_axis,
#line_y_axis {
  .tick {
    line {
      stroke: none;
    }
  }
}

#line_x_grid,
#line_y_grid {
  g:nth-child(1) {
    line {
      //stroke: none;
    }
  }
  path {
    stroke: none;
  }
}

#bar_x_axis,
#bar_y_axis {
  .tick {
    line {
      stroke: none;
    }
  }
}

#bar_x_grid,
#bar_y_grid {
  g:nth-child(1) {
    line {
      //stroke: none;
    }
  }
  path {
    stroke: none;
  }
}
