nav {
  height: 4em;
  background-color: $nav;
}

.navbar {
  padding-left: 4em;
  padding-right: 4em;
}

a {
  text-decoration: none;
  color: $nav_titles;
  font-size: 1em;
  font-weight: lighter;
  transition-duration: 0.8s;
}

a:hover {
  color: $nav_titles_hovered;
  transition-duration: 0.5s;
}

.selected {
  color: white;
}

@media only screen and (max-width: 992px) {
  nav {
    height: 10em;
  }
}
