::-webkit-scrollbar {
  width: 0 //2.5px;;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.015);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.15);
}
