.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 80%;
  height: 5px;
  background: rgb(240, 240, 240);
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 10px;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: rgb(255, 255, 255); /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 10px;
  border: 2px solid rgb(220, 220, 220);
}

// fire fox
.slider::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #9d9f9d; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 10px;
  border: 1px solid rgba(220, 220, 220, 0.5);
}
