<div class="row">
  <h6>Checkboxes</h6>
  <div class="col-4 col-c">
    <div class="pretty p-default p-smooth p-form-checkbox">
      <input
        type="checkbox"
        name="line_tooltip_checkbox"
        id="line_tooltip_checkbox"
      />
      <div class="state">
        <label for="line_tooltip_checkbox">Tooltip</label>
      </div>
    </div>
  </div>
  <div class="col-4 col-c">
    <div class="pretty p-default p-smooth p-form-checkbox">
      <input
        type="checkbox"
        name="line_xaxis_grid_checkbox"
        id="line_xaxis_grid_checkbox"
      />
      <div class="state">
        <label for="line_xaxis_grid_checkbox">x-Axis Grid </label>
      </div>
    </div>
  </div>
  <div class="col-4 col-c">
    <div class="pretty p-default p-smooth p-form-checkbox">
      <input
        type="checkbox"
        name="line_yaxis_grid_checkbox"
        id="line_yaxis_grid_checkbox"
        checked
      />
      <div class="state">
        <label for="line_yaxis_grid_checkbox">y-Axis Grid </label>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-4 col-c">
    <div class="pretty p-default p-smooth p-form-checkbox">
      <input
        type="checkbox"
        name="line_datapoint_checkbox"
        id="line_datapoint_checkbox"
        checked
      />
      <div class="state">
        <label for="line_datapoint_checkbox">Datapoints </label>
      </div>
    </div>
  </div>
  <div class="col-4 col-c">
    <div class="pretty p-default p-smooth p-form-checkbox">
      <input
        type="checkbox"
        name="line_xaxis_line_checkbox"
        id="line_xaxis_line_checkbox"
        checked
      />
      <div class="state">
        <label for="line_xaxis_line_checkbox">x-Axis Line </label>
      </div>
    </div>
  </div>
  <div class="col-4 col-c">
    <div class="pretty p-default p-smooth p-form-checkbox">
      <input
        type="checkbox"
        name="line_yaxis_line_checkbox"
        id="line_yaxis_line_checkbox"
      />
      <div class="state">
        <label for="line_yaxis_line_checkbox">y-Axis Line </label>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-4 col-c">
    <div class="pretty p-default p-smooth p-form-checkbox">
      <input
        type="checkbox"
        name="line_hover_checkbox"
        id="line_hover_checkbox"
      />
      <div class="state">
        <label for="line_hover_checkbox">Hover </label>
      </div>
    </div>
  </div>
  <div class="col-4 col-c"></div>
  <div class="col-4 col-c"></div>
</div>
