<div class="row line_checkbox_col_row">
  <div class="col-xl-4 col-lg-4 col-c">
    <div class="row checkbox_row_wrap">
      <div class="col-10">
        <label class="checkbox-labels" for="line_tooltip_checkbox"
          >Tooltip</label
        >
      </div>
      <div class="col-2">
        <div class="pretty p-default p-smooth p-form-checkbox">
          <input
            type="checkbox"
            name="line_tooltip_checkbox"
            id="line_tooltip_checkbox"
          />
          <div class="state p-warning-o">
            <label for="line_tooltip_checkbox"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-c">
    <div class="row checkbox_row_wrap">
      <div class="col-10">
        <label class="checkbox-labels" for="line_xaxis_grid_checkbox"
          >x-Axis Grid</label
        >
      </div>
      <div class="col-2">
        <div class="pretty p-default p-smooth p-form-checkbox">
          <input
            type="checkbox"
            name="line_xaxis_grid_checkbox"
            id="line_xaxis_grid_checkbox"
          />
          <div class="state p-warning-o">
            <label for="line_xaxis_grid_checkbox"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-c">
    <div class="row checkbox_row_wrap">
      <div class="col-10">
        <label class="checkbox-labels" for="line_yaxis_grid_checkbox"
          >y-Axis Grid</label
        >
      </div>
      <div class="col-2">
        <div class="pretty p-default p-smooth p-form-checkbox">
          <input
            type="checkbox"
            name="line_yaxis_grid_checkbox"
            id="line_yaxis_grid_checkbox"
            checked
          />
          <div class="state p-warning-o">
            <label for="line_yaxis_grid_checkbox"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row line_checkbox_col_row">
  <div class="col-xl-4 col-lg-4 col-c">
    <div class="row checkbox_row_wrap">
      <div class="col-10">
        <label class="checkbox-labels" for="line_datapoint_checkbox"
          >Datapoints</label
        >
      </div>
      <div class="col-2">
        <div class="pretty p-default p-smooth p-form-checkbox">
          <input
            type="checkbox"
            name="line_datapoint_checkbox"
            id="line_datapoint_checkbox"
            checked
          />
          <div class="state p-warning-o">
            <label for="line_datapoint_checkbox"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-c">
    <div class="row checkbox_row_wrap">
      <div class="col-10">
        <label class="checkbox-labels" for="line_xaxis_line_checkbox"
          >x-Axis Line
        </label>
      </div>
      <div class="col-2">
        <div class="pretty p-default p-smooth p-form-checkbox">
          <input
            type="checkbox"
            name="line_xaxis_line_checkbox"
            id="line_xaxis_line_checkbox"
            checked
          />
          <div class="state p-warning-o">
            <label for="line_xaxis_line_checkbox"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-c">
    <div class="row checkbox_row_wrap">
      <div class="col-10">
        <label class="checkbox-labels" for="line_yaxis_line_checkbox"
          >y-Axis Line
        </label>
      </div>
      <div class="col-2">
        <div class="pretty p-default p-smooth p-form-checkbox">
          <input
            type="checkbox"
            name="line_yaxis_line_checkbox"
            id="line_yaxis_line_checkbox"
          />
          <div class="state p-warning-o">
            <label for="line_yaxis_line_checkbox"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row line_checkbox_col_row">
  <div class="col-xl-4 col-lg-4 col-c">
    <div class="row checkbox_row_wrap">
      <div class="col-10">
        <label class="checkbox-labels" for="line_hover_checkbox">Hover</label>
      </div>
      <div class="col-2">
        <div class="pretty p-default p-smooth p-form-checkbox">
          <input
            type="checkbox"
            name="line_hover_checkbox"
            id="line_hover_checkbox"
          />
          <div class="state p-warning-o">
            <label for="line_hover_checkbox"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
