<h6>
  <i
    class="fas fa-chevron-down sec_label_down_i"
    id="slider_arrow_down_icon"
  ></i>
  <i
    class="fas fa-chevron-right sec_label_right_i"
    id="slider_arrow_right_icon"
  ></i>

  Sliders
</h6>

<div class="row line_slider_col_row">
  <div class="col-4 col-c">
    <label for="line_title_slider">Title </label>
    <input
      type="range"
      min="0"
      max="26"
      value="13"
      name="line_title_slider"
      id="line_title_slider"
      class="slider"
    />
  </div>
  <div class="col-4 col-c">
    <label for="line_xaxis_title_slider">x-Axis </label>
    <input
      type="range"
      min="0"
      max="26"
      value="13"
      name="line_xaxis_title_slider"
      id="line_xaxis_title_slider"
      class="slider"
    />
  </div>
  <div class="col-4 col-c">
    <label for="line_yaxis_title_slider">y-Axis </label>
    <input
      type="range"
      min="-17"
      max="-1"
      value="-9Sw"
      name="line_yaxis_title_slider"
      id="line_yaxis_title_slider"
      class="slider"
    />
  </div>
</div>
<div class="row line_slider_col_row">
  <div class="col-4 col-c">
    <label for="line_width_slider">Line Width </label>
    <input
      type="range"
      min="1"
      max="11"
      value="1"
      name="line_width_slider"
      id="line_width_slider"
      class="slider"
    />
  </div>
  <div class="col-4 col-c">
    <label for="line_point_radius_slider">Point Radius </label>
    <input
      type="range"
      min="1"
      max="11"
      value="6"
      name="line_point_radius_slider"
      id="line_point_radius_slider"
      class="slider"
    />
  </div>
  <div class="col-4 col-c"></div>
</div>
