<div class="row line_color_col_row">
  <div class="col-4 col-c colors-c">
    <div class="row">
      <label class="color_labels" for="line_color_cp1">Line 1</label>
    </div>
    <input
      name="line_color_cp1"
      id="line_color_cp1"
      value="rgb(250, 250, 250)"
    />
  </div>
  <div class="col-4 col-c colors-c">
    <div class="row">
      <label class="color_labels" for="line_color_cp2">Line 2</label>
    </div>
    <input
      name="line_color_cp2"
      id="line_color_cp2"
      value="rgb(250, 250, 250)"
    />
  </div>
  <div class="col-4 col-c colors-c">
    <div class="row">
      <label class="color_labels" for="line_color_cp3">Line 3</label>
    </div>
    <input
      name="line_color_cp3"
      id="line_color_cp3"
      value="rgb(250, 250, 250)"
    />
  </div>
</div>
<div class="row line_color_col_row">
  <div class="col-4 col-c colors-c">
    <div class="row">
      <label class="color_labels" for="line_title_cp">Title</label>
    </div>
    <input name="line_title_cp" id="line_title_cp" value="rgb(255, 255, 255)" />
  </div>

  <div class="col-4 col-c colors-c">
    <div class="row">
      <label class="color_labels" for="line_xaxis_title_cp">x-Axis Title</label>
    </div>
    <input
      name="line_xaxis_title_cp"
      id="line_xaxis_title_cp"
      value="rgb(255, 255, 255)"
    />
  </div>
  <div class="col-4 col-c colors-c">
    <div class="row">
      <label class="color_labels" for="line_yaxis_title_cp">y-Axis Title</label>
    </div>
    <input
      name="line_yaxis_title_cp"
      id="line_yaxis_title_cp"
      value="rgb(255, 255, 255)"
    />
  </div>
</div>
<div class="row line_color_col_row">
  <div class="col-4 col-c colors-c">
    <div class="row">
      <label class="color_labels" for="line_grid_cp">Grid</label>
    </div>
    <input
      name="line_grid_cp"
      id="line_grid_cp"
      value="rgba(255, 255, 255, 0.337)"
    />
  </div>

  <div class="col-4 col-c colors-c">
    <div class="row">
      <label class="color_labels" for="line_xaxis_line_cp">x-Axis Line</label>
    </div>
    <input
      name="line_xaxis_line_cp"
      id="line_xaxis_line_cp"
      value="rgb(255, 255, 255)"
    />
  </div>
  <div class="col-4 col-c colors-c">
    <div class="row">
      <label class="color_labels" for="line_yaxis_line_cp">y-Axis Line</label>
    </div>
    <input
      name="line_yaxis_line_cp"
      id="line_yaxis_line_cp"
      value="rgb(211, 211, 211)"
    />
  </div>
</div>
<div class="row line_color_col_row">
  <div class="col-4 col-c colors-c">
    <div class="row">
      <label class="color_labels" for="line_datapoint_cp">Datapoint</label>
    </div>
    <input
      name="line_datapoint_cp"
      id="line_datapoint_cp"
      value="rgba(255, 255, 255, 0)"
    />
  </div>
  <div class="col-4 col-c colors-c">
    <div class="row">
      <label class="color_labels" for="line_datapoint_border_cp"
        >Datapoint Border</label
      >
    </div>
    <input
      name="line_datapoint_border_cp"
      id="line_datapoint_border_cp"
      value="rgb(255, 255, 255)"
    />
  </div>
  <div class="col-4 col-c colors-c">
    <div class="row">
      <label class="color_labels" for="line_area_cp">Line Area</label>
    </div>
    <input name="line_area_cp" id="line_area_cp" value="rgb(245, 245, 245)" />
  </div>
</div>
<div class="row line_color_col_row">
  <div class="col-4 col-c colors-c">
    <div class="row">
      <label class="color_labels" for="line_background_cp">Background</label>
    </div>
    <input
      name="line_background_cp"
      id="line_background_cp"
      value="rgba(0, 0, 0, 0.55)"
    />
  </div>
  <div class="col-4 col-c colors-c">
    <div class="row">
      <label class="color_labels" for="line_tick_cp">Ticks</label>
    </div>
    <input name="line_tick_cp" id="line_tick_cp" value="rgb(238, 238, 238)" />
  </div>
  <div class="col-4 col-c colors-c"></div>
</div>
