<div class="row line_title_col_row">
  <div class="col-4 col-c">
    <label id="line_title_input_label" for="line_title_input">
      Title
      <input
        type="text"
        name="line_title_input"
        id="line_title_input"
        class="text_inputs"
        value="Total Reported Cases"
        placeholder="Enter text..."
      />
    </label>
  </div>
  <div class="col-4 col-c">
    <label for="line_xaxis_title_input">
      x-Axis
      <input
        type="text"
        name="line_xaxis_title_input"
        id="line_xaxis_title_input"
        class="text_inputs"
        value="Days"
        placeholder="Enter text..."
      />
    </label>
  </div>
  <div class="col-4 col-c">
    <label for="line_yaxis_title_input">
      y-Axis
      <input
        type="text"
        name="line_yaxis_title_input"
        id="line_yaxis_title_input"
        class="text_inputs"
        value="Cases"
        placeholder="Enter text..."
      />
    </label>
  </div>
</div>
