<div class="row" id="bar_dimension_div">
  <div class="col-6 d-flex justify-content-center">
    <div class="pretty p-default p-smooth p-dim-checkbox">
      <input
        type="checkbox"
        name="bar_horizontal_checkbox"
        id="bar_horizontal_checkbox"
      />
      <div class="state p-warning-o">
        <label for="bar_horizontal_checkbox">Horizontal</label>
      </div>
    </div>
  </div>
  <div class="col-6 d-flex justify-content-center">
    <div class="pretty p-default p-smooth p-dim-checkbox">
      <input
        type="checkbox"
        name="bar_vertical_checkbox"
        id="bar_vertical_checkbox"
        checked
      />
      <div class="state p-warning-o">
        <label for="bar_vertical_checkbox">Vertical</label>
      </div>
    </div>
  </div>
</div>
