<div class="row" id="bar_dimension_div">
  <div class="col-3"></div>
  <div class="col-3">
    <div class="pretty p-default p-smooth p-dim-checkbox">
      <input
        type="checkbox"
        name="bar_horizontal_checkbox"
        id="bar_horizontal_checkbox"
      />
      <div class="state p-warning-o">
        <label for="bar_horizontal_checkbox">Horizontal</label>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="pretty p-default p-smooth p-dim-checkbox">
      <input
        type="checkbox"
        name="bar_vertical_checkbox"
        id="bar_vertical_checkbox"
        checked
      />
      <div class="state p-warning-o">
        <label for="bar_vertical_checkbox">Vertical</label>
      </div>
    </div>
  </div>
  <!--
  <div class="col-3">
    <div class="pretty p-default p-smooth p-dim-checkbox">
      <input
        type="checkbox"
        name="bar_responsive_checkbox"
        id="bar_responsive_checkbox"
      />
      <div class="state">
        <label for="bar_responsive_checkbox">Responsive</label>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="pretty p-default p-smooth p-dim-checkbox">
      <input
        type="checkbox"
        name="bar_sorted_checkbox"
        id="bar_sorted_checkbox"
      />
      <div class="state">
        <label for="">Sorted</label>
      </div>
    </div>
  </div>
  <div class="col-1">
    <label for="line_theme_input">Bars</label>
  </div>
  <div class="col-2">
    <input
      type="number"
      name="line_amount_input"
      id="line_amount_input"
      min="1"
      max="3"
      value="1"
    />
  </div>
  <div class="col-1"></div>

  <div class="col-1"></div>
  -->
</div>
