<div class="row pie_slider_col_row">
  <div class="col-4 col-c">
    <label for="pie_title_slider"> Title </label>
    <input
      type="range"
      class="slider"
      name="pie_title_slider"
      id="pie_title_slider"
    />
  </div>
  <div class="col-4 col-c">
    <label for="pie_border_slider"> Slice Border </label>
    <input
      type="range"
      class="slider"
      name="pie_border_slider"
      id="pie_border_slider"
    />
  </div>
  <div class="col-4 col-c">
    <label for="pie_inner_radius_slider"> Inner Radius </label>
    <input
      type="range"
      class="slider"
      name="pie_inner_radius_slider"
      id="pie_inner_radius_slider"
      min="0"
      value="80"
      max="100"
    />
  </div>
</div>
<div class="row pie_slider_col_row">
  <div class="col-4 col-c">
    <label for="pie_outer_radius_slider"> Outer Radius </label>
    <input
      type="range"
      class="slider"
      name="pie_outer_radius_slider"
      id="pie_outer_radius_slider"
      min="10"
      value="10"
      max="50"
    />
  </div>
</div>
