<div class="row pie_checkbox_col_row">
  <div class="col-xl-4 col-lg-4 col-c">
    <div class="pretty p-default p-smooth p-form-checkbox">
      <input
        type="checkbox"
        name="pie_tooltip_checkbox"
        id="pie_tooltip_checkbox"
        checked
      />
      <div class="state p-warning-o">
        <label for="pie_tooltip_checkbox">Tooltip</label>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-c">
    <div class="pretty p-default p-smooth p-form-checkbox">
      <input
        type="checkbox"
        name="pie_legend_checkbox"
        id="pie_legend_checkbox"
        checked
      />
      <div class="state p-warning-o">
        <label for="pie_legend_checkbox">Legend</label>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-c">
    <div class="pretty p-default p-smooth p-form-checkbox">
      <input
        type="checkbox"
        name="pie_hover_checkbox"
        id="pie_hover_checkbox"
        checked
      />
      <div class="state p-warning-o">
        <label for="pie_hover_checkbox">Hover</label>
      </div>
    </div>
  </div>
</div>
<div class="row pie_checkbox_col_row">
  <div class="col-xl-4 col-lg-4 col-c">
    <div class="pretty p-default p-smooth p-form-checkbox">
      <input
        type="checkbox"
        name="pie_values_checkbox"
        id="pie_values_checkbox"
        checked
      />
      <div class="state p-warning-o">
        <label for="pie_values_checkbox">Values</label>
      </div>
    </div>
  </div>
</div>
