<div class="row pie_slider_col_row">
  <div class="col-4 col-c">
    <label for="pie_title_slider"> Title </label>
    <input
      type="range"
      class="slider"
      name="pie_title_slider"
      id="pie_title_slider"
      min="0"
      value="320"
      max="600"
    />
  </div>
  <div class="col-4 col-c">
    <label for="pie_border_slider"> Slice Border </label>
    <input
      type="range"
      class="slider"
      name="pie_border_slider"
      id="pie_border_slider"
      min="0"
      value="3"
      max="7"
    />
  </div>
  <div class="col-4 col-c">
    <label for="pie_inner_radius_slider"> Inner Radius </label>
    <input
      type="range"
      class="slider"
      name="pie_inner_radius_slider"
      id="pie_inner_radius_slider"
      min="0"
      value="0"
      max="80"
    />
  </div>
</div>
<div class="row pie_slider_col_row">
  <div class="col-4 col-c">
    <label for="pie_outer_radius_slider"> Outer Radius </label>
    <input
      type="range"
      class="slider"
      name="pie_outer_radius_slider"
      id="pie_outer_radius_slider"
      min="10"
      value="55"
      max="70"
    />
  </div>
  <div class="col-4 col-c">
    <label for="pie_label_radius_slider"> Label Radius </label>
    <input
      type="range"
      class="slider"
      name="pie_label_radius_slider"
      id="pie_label_radius_slider"
      min="-20"
      value="-20"
      max="100"
    />
  </div>
</div>
