<nav class="navbar">
  <div class="col-lg-4 col-12 text-center">
    <img
      src="https://raw.githubusercontent.com/d3/d3-logo/master/d3.svg"
      width="40"
      height="30"
      alt="d3logo"
      class="text-center"
    />
  </div>
  <div class="col-lg-2 col-12 text-center">
    <a href="./index.php?page=bar_chart" id="test_bar">BAR CHART</a>
  </div>
  <div class="col-lg-2 col-12 text-center">
    <a href="./index.php?page=pie_chart">PIE CHART</a>
  </div>

  <div class="col-lg-2 col-12 text-center">
    <a href="./index.php?page=line_chart" id="test_line">LINE CHART</a>
  </div>
  <div class="col-lg-2 col-12 text-center">
    <a href="#">MAP</a>
  </div>
</nav>
