<nav class="navbar">
  <div class="col-lg-3 col-12 text-center">
    <a href="https://d3js.org/">
      <img
        src="./view/d3.svg"
        width="40"
        height="30"
        alt="d3logo"
        class="text-center"
      />
    </a>
  </div>
  <div class="col-lg-3 col-12 text-center">
    <a href="./index.php?page=bar_chart" class="selected" id="nav_bar_button"
      >BAR CHART</a
    >
  </div>
  <div class="col-lg-3 col-12 text-center">
    <a href="./index.php?page=line_chart" id="nav_line_button">LINE CHART</a>
  </div>
  <div class="col-lg-3 col-12 text-center">
    <a href="./index.php?page=pie_chart" id="nav_pie_button">PIE CHART</a>
  </div>
  <!-- <div class="col-lg-2 col-12 text-center">
    <a href="./index.php?page=map" id="test_map">MAP</a>
  </div> -->
</nav>
